/* Bouton principale */
.boutoncontour {
  border-radius: 45px 45px 45px 45px;
  padding: 3% 5% 3% 5%;
  border: 1px solid #FF79DA;
}

.boutonstyle {
  background-color: #FF79DA;
  text-decoration: none;
  color: white;
}

/* Listing */
.listecontour {
  border-radius: 25px 25px 25px 25px;
  padding: 5% 5% 5% 5%;
  border: 1px solid #FF79DA;
}

body {
  width: 100%;
  margin: auto;
  overflow-x: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid rgba(112, 111, 111, 0.74);
}

header img {
  width: 50%;
  margin: 10px 10px 10px 10px;
}

nav ol {
  padding: 15px 15px 15px 15px;
}

nav ol h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-size: 1.5em;
  font-weight: bold;
}

nav ol li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin: 10px 10px 10px 10px;
  background-color: rgba(239, 239, 239, 0.74);
}

nav ol li span {
  margin-left: 15%;
}

nav ol li i {
  font-size: 1em;
  margin-left: 5%;
}

.section1, .section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section1__geoloc, .section1__decrestaurant, .section1__decrestaurant h1, .section1__decrestaurant h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0 10px 0;
  background-color: rgba(214, 213, 213, 0.74);
}

.section1__decrestaurant {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 15px 15px 15px;
  background-color: rgba(239, 239, 239, 0.74);
}

.section1__decrestaurant h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 5px 5px 5px 5px;
  text-align: center;
  background-color: rgba(239, 239, 239, 0.74);
}

.section1__decrestaurant h2 {
  margin: 5px 5px 5px 5px;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  background-color: rgba(239, 239, 239, 0.74);
}

.section1__decrestaurant a {
  margin: auto;
}

.section2 {
  background-color: rgba(239, 239, 239, 0.74);
  padding-bottom: 45px;
}

.section2 h1 {
  padding: 15px 15px 15px 15px;
}

.section2 article {
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2px;
  margin: 5px;
  border-radius: 15px 15px 15px 15px;
  -webkit-box-shadow: 4px 4px 4px #F2F2F2;
          box-shadow: 4px 4px 4px #F2F2F2;
  width: 90%;
  -ms-flex-direction: row;
      flex-direction: row;
}

.section2 article img {
  height: 200px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section2 article a {
  text-decoration: none;
}

.section2 article strong {
  font-weight: bold;
  font-size: 1.2em;
}

.section2 article p {
  padding: 0 0 0 15px;
  font-size: 1em;
  font-weight: normal;
  color: black;
}

.section2 article i {
  position: relative;
  float: right;
  bottom: 45px;
  right: 10px;
  font-size: 1em;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.section2 article i:hover {
  color: aqua;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: white;
}

footer {
  background-color: black;
  color: white;
  width: 100%;
  padding: 5px 0 5px 0;
}

footer ul li {
  list-style-type: none;
  margin-bottom: 3px;
}

footer h1 {
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
}

footer a {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=style.css.map */