/* Bouton principale */
.boutoncontour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 35px;
  padding: 15px;
  margin: 15px auto 15px auto;
  border: 1px solid #FF79DA;
}

.boutontailleprincipale {
  max-width: 60%;
}

.boutoutaillesecondaire {
  max-width: 40%;
}

.boutonstyle {
  background-color: #FF79DA;
  text-decoration: none;
  color: white;
  -webkit-filter: drop-shadow(0 0 0.25rem rgba(112, 111, 111, 0.74));
          filter: drop-shadow(0 0 0.25rem rgba(112, 111, 111, 0.74));
}

.boutonstyle:hover {
  background-color: #ff93e1;
  -webkit-filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.74));
          filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.74));
}

/* Listing */
.listecontour {
  border-radius: 25px 25px 25px 25px;
  padding: 3% 5% 3% 5%;
}

.listecouleur {
  border: 1px solid white;
  -webkit-filter: drop-shadow(0 0 0.25rem rgba(112, 111, 111, 0.74));
          filter: drop-shadow(0 0 0.25rem rgba(112, 111, 111, 0.74));
}

/* animation icone validation page restaurant */
.pagesecondaire section article:hover .titreplat {
  -webkit-animation: titreplay 2s;
          animation: titreplay 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.pagesecondaire section article:hover .prix {
  -webkit-animation: prix 2s;
          animation: prix 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.pagesecondaire section article:hover .iconevalidation {
  -webkit-animation: iconevalidation 2s;
          animation: iconevalidation 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  visibility: visible;
}

.pagesecondaire section article:hover .iconevalidation i {
  -webkit-animation: iconevalidationrotation 2s;
          animation: iconevalidationrotation 2s;
}

/* Apparation du menu page secondaire */
.pagesecondaire section .anim1, .pagesecondaire section .anim1 .petitanim1, .pagesecondaire section .anim1 .petitanim2, .pagesecondaire section .anim1 .petitanim3, .pagesecondaire section .anim1 .petitanim3_2, .pagesecondaire section .anim2, .pagesecondaire section .anim2 .petitanim4, .pagesecondaire section .anim2 .petitanim5, .pagesecondaire section .anim2 .petitanim6, .pagesecondaire section .anim3, .pagesecondaire section .anim3 .petitanim7, .pagesecondaire section .anim3 .petitanim8, .pagesecondaire section .anim3 .petitanim9, .pagesecondaire section .anim4, .pagesecondaire section .anim2, .pagesecondaire section .anim3, .pagesecondaire section .anim4, .pagesecondaire section .petitanim1, .pagesecondaire section .petitanim2, .pagesecondaire section .petitanim3, .pagesecondaire section .petitanim4, .pagesecondaire section .petitanim5, .pagesecondaire section .petitanim6, .pagesecondaire section .petitanim7, .pagesecondaire section .petitanim8, .pagesecondaire section .petitanim9 {
  opacity: 0;
}

.pagesecondaire section .anim1, .pagesecondaire section .anim1 .petitanim1, .pagesecondaire section .anim1 .petitanim2, .pagesecondaire section .anim1 .petitanim3, .pagesecondaire section .anim1 .petitanim3_2, .pagesecondaire section .anim2, .pagesecondaire section .anim2 .petitanim4, .pagesecondaire section .anim2 .petitanim5, .pagesecondaire section .anim2 .petitanim6, .pagesecondaire section .anim3, .pagesecondaire section .anim3 .petitanim7, .pagesecondaire section .anim3 .petitanim8, .pagesecondaire section .anim3 .petitanim9, .pagesecondaire section .anim4 {
  -webkit-animation: apparitionfondu 2s;
          animation: apparitionfondu 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.pagesecondaire section .anim1 .petitanim1, .pagesecondaire section .anim2 .petitanim1, .pagesecondaire section .anim3 .petitanim1, .pagesecondaire section .anim4 .petitanim1 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.pagesecondaire section .anim1 .petitanim2, .pagesecondaire section .anim2 .petitanim2, .pagesecondaire section .anim3 .petitanim2, .pagesecondaire section .anim4 .petitanim2 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.pagesecondaire section .anim1 .petitanim3, .pagesecondaire section .anim2 .petitanim3, .pagesecondaire section .anim3 .petitanim3, .pagesecondaire section .anim4 .petitanim3 {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

.pagesecondaire section .anim1 .petitanim3_2, .pagesecondaire section .anim2 .petitanim3_2, .pagesecondaire section .anim3 .petitanim3_2, .pagesecondaire section .anim4 .petitanim3_2 {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}

.pagesecondaire section .anim2 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.pagesecondaire section .anim2 .petitanim4 {
  -webkit-animation-delay: 3500ms;
          animation-delay: 3500ms;
}

.pagesecondaire section .anim2 .petitanim5 {
  -webkit-animation-delay: 4000ms;
          animation-delay: 4000ms;
}

.pagesecondaire section .anim2 .petitanim6 {
  -webkit-animation-delay: 4500ms;
          animation-delay: 4500ms;
}

.pagesecondaire section .anim3 {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.pagesecondaire section .anim3 .petitanim7 {
  -webkit-animation-delay: 6500ms;
          animation-delay: 6500ms;
}

.pagesecondaire section .anim3 .petitanim8 {
  -webkit-animation-delay: 7000ms;
          animation-delay: 7000ms;
}

.pagesecondaire section .anim3 .petitanim9 {
  -webkit-animation-delay: 7500ms;
          animation-delay: 7500ms;
}

.pagesecondaire section .anim4 {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

/* Animation Loadspinner */
.pageprincipale header, .pageprincipale section, .pageprincipale nav, .pageprincipale footer {
  opacity: 0;
}

.pageprincipale .loader {
  opacity: 1;
  width: 100%;
  height: 100%;
}

.pageprincipale .loader i {
  font-size: 5em;
  position: absolute;
  right: 60%;
  -webkit-animation: loader 4500ms;
          animation: loader 4500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.pageprincipale header {
  -webkit-animation: apparitionfondu 2s;
          animation: apparitionfondu 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.pageprincipale nav {
  -webkit-animation: apparitionfondu 2s;
          animation: apparitionfondu 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

.pageprincipale section {
  -webkit-animation: apparitionfondu 2s;
          animation: apparitionfondu 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

.pageprincipale footer {
  -webkit-animation: apparitionfondu 2s;
          animation: apparitionfondu 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes loader {
  from {
    top: 0%;
  }
  to {
    top: 100%;
    opacity: 0;
  }
}

@keyframes loader {
  from {
    top: 0%;
  }
  to {
    top: 100%;
    opacity: 0;
  }
}

@-webkit-keyframes apparitionfondu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes apparitionfondu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes iconevalidationrotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@keyframes iconevalidationrotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@-webkit-keyframes iconevalidation {
  from {
    width: 0%;
  }
  to {
    width: 13%;
  }
}

@keyframes iconevalidation {
  from {
    width: 0%;
  }
  to {
    width: 13%;
  }
}

@-webkit-keyframes prix {
  from {
    width: 10%;
  }
  to {
    width: 15%;
  }
}

@keyframes prix {
  from {
    width: 10%;
  }
  to {
    width: 15%;
  }
}

@-webkit-keyframes titreplay {
  from {
    width: 90%;
  }
  to {
    width: 73%;
  }
}

@keyframes titreplay {
  from {
    width: 90%;
  }
  to {
    width: 73%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* Tablette */
}

@media (min-width: 1281px) {
  /* PC */
  .pageprincipale header {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .pageprincipale header img {
    width: 20%;
  }
  .pageprincipale .section1, .pageprincipale .section2 {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .pageprincipale .section2 {
    width: 98%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .pageprincipale .section2 article {
    max-width: 20%;
  }
  .pageprincipale nav ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .pageprincipale nav ol li {
    width: 30%;
  }
  .pageprincipale footer strong {
    padding-left: 2%;
  }
  .pagesecondaire header {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .pagesecondaire header img {
    width: 20%;
  }
  .pagesecondaire figure figcaption {
    width: 100%;
  }
  .pagesecondaire section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .pagesecondaire section article {
    width: 30%;
  }
  .pagesecondaire footer strong {
    padding-left: 2%;
  }
}

.pageprincipale, .pagesecondaire {
  font-family: 'Roboto';
}

.titrerestaurant {
  font-family: 'Shrikhand';
}

.pageprincipale, .pagesecondaire {
  width: 100%;
  margin: auto;
  overflow-x: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid rgba(112, 111, 111, 0.74);
}

header img {
  width: 50%;
  margin: 10px 10px 10px 10px;
}

header i {
  font-size: 1.1em;
  position: absolute;
  left: 4%;
  top: 2%;
  color: black;
}

.pagesecondaire header {
  border-bottom: 0px;
}

.pagesecondaire figure {
  position: relative;
  display: inline-block;
  margin: 0 0 0 0;
}

.pagesecondaire figure img {
  height: 290px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pagesecondaire figure figcaption {
  position: absolute;
  width: 92%;
  top: 78%;
  border-radius: 15px 15px 0px 0px;
  padding: 16px 16px 15px 16px;
  font-size: 2em;
  font-weight: 1000;
  font-style: italic;
  background-color: whitesmoke;
}

.pagesecondaire figure figcaption i {
  position: absolute;
  right: 8%;
  font-size: 1em;
  color: whitesmoke;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.pagesecondaire figure figcaption i:hover {
  -webkit-transition: all .8s linear;
  transition: all .8s linear;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: white;
  color: #9356DC;
}

.pageprincipale nav strong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-size: 1.5em;
  font-weight: bold;
  padding: 8% 0 0 25px;
}

.pageprincipale nav ol {
  padding: 15px 15px 15px 15px;
  background-color: white;
}

.pageprincipale nav ol li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin: 10px 10px 10px 10px;
  background-color: white;
}

.pageprincipale nav ol li .navigationliste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.pageprincipale nav ol li .navigationliste p {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  width: 70%;
  font-size: 1em;
  padding-left: 15px;
  padding-bottom: 1%;
  font-weight: bold;
}

.pageprincipale nav ol li .navigationliste i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: 1em;
  width: 15%;
  padding-top: 6%;
}

.pageprincipale nav ol li .navigationliste span {
  position: relative;
  top: 28%;
  right: 10%;
  height: 35%;
  padding: 5px 8px 5px 8px;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
}

.pageprincipale .section1, .pageprincipale .section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pageprincipale .section1__geoloc, .pageprincipale .section1__decrestaurant, .pageprincipale .section1__decrestaurant h1, .pageprincipale .section1__decrestaurant h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0 10px 0;
  background-color: rgba(214, 213, 213, 0.74);
}

.pageprincipale .section1__geoloc span, .pageprincipale .section1__decrestaurant span {
  padding-left: 15px;
}

.pageprincipale .section1__decrestaurant {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 15px 15px 15px;
  background-color: rgba(239, 239, 239, 0.74);
}

.pageprincipale .section1__decrestaurant h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 5px 5px 5px 5px;
  text-align: center;
  background-color: rgba(239, 239, 239, 0.74);
}

.pageprincipale .section1__decrestaurant h2 {
  margin: 5px 5px 5px 5px;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  background-color: rgba(239, 239, 239, 0.74);
}

.pageprincipale .section2 {
  background-color: rgba(239, 239, 239, 0.74);
  padding-bottom: 45px;
}

.pageprincipale .section2 h1 {
  padding: 15px 15px 15px 15px;
}

.pageprincipale .section2 article {
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2px 2px 0px 2px;
  margin: 5px;
  border-radius: 15px 15px 15px 15px;
  -webkit-box-shadow: 4px 4px 4px #F2F2F2;
          box-shadow: 4px 4px 4px #F2F2F2;
  width: 96%;
}

.pageprincipale .section2 article img {
  height: 200px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.pageprincipale .section2 article a {
  text-decoration: none;
}

.pageprincipale .section2 article strong {
  font-weight: bold;
  font-size: 1.2em;
}

.pageprincipale .section2 article .nouveaurestaurant {
  background-color: #99E2D0;
  position: relative;
  left: 75%;
  bottom: 260px;
  padding: 5px 10px 5px 10px;
  font-size: 0.8em;
  color: #1b6150;
}

.pageprincipale .section2 article p {
  padding: 0 0 0 15px;
  font-size: 1em;
  font-weight: normal;
  color: black;
}

.pageprincipale .section2 article i {
  position: relative;
  float: right;
  bottom: 45px;
  right: 10px;
  font-size: 1em;
  color: whitesmoke;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.pageprincipale .section2 article i:hover {
  -webkit-transition: all .8s linear;
  transition: all .8s linear;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: white;
  color: #9356DC;
}

.pagesecondaire section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: whitesmoke;
}

.pagesecondaire section .titremenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0px 0px 15px;
}

.pagesecondaire section .titremenu p {
  border-bottom: 2px solid #1ec41e;
}

.pagesecondaire section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
  -webkit-filter: drop-shadow(0 0 0.25rem rgba(112, 111, 111, 0.74));
          filter: drop-shadow(0 0 0.25rem rgba(112, 111, 111, 0.74));
  margin: 10px 10px 10px 10px;
  border-radius: 15px 15px 15px 15px;
  -webkit-transition: all linear 1s;
  transition: all linear 1s;
  overflow: hidden;
}

.pagesecondaire section article .titreplat {
  width: 90%;
  font-size: 1.1em;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pagesecondaire section article .prix {
  -ms-grid-column-align: end;
      justify-self: end;
  width: 10%;
  font-weight: bold;
}

.pagesecondaire section article .iconevalidation {
  margin: 0 0 0 0;
  border-radius: 0px 12px 12px 0px;
  padding: 15px 0px 8px 0px;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 2.5em;
  color: white;
  background-color: #99E2D0;
  width: 0%;
  visibility: hidden;
}

.pagesecondaire section article .iconevalidation i {
  padding-left: 3px;
}

footer {
  background-color: black;
  color: white;
  width: 100%;
  padding: 5px 0 5px 0;
}

footer ul li {
  list-style-type: none;
  margin-bottom: 3px;
}

footer strong {
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  padding-left: 10%;
}

footer a {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=style.css.map */