/* Bouton principale */

.boutoncontour
{
    border-radius: 45px 45px 45px 45px;
    padding: 3% 5% 3% 5%;
    border: 1px solid $couleur-2;
}
.boutonstyle
{
    background-color: $couleur-2;
    text-decoration: none;
    color: $white;
}

/* Listing */

.listecontour
{
    border-radius: 25px 25px 25px 25px;
    padding: 5% 5% 5% 5%;
    border: 1px solid $couleur-2;
}
.listestyle
{
    
}