@mixin marge5{
    margin: 5px 5px 5px 5px;
}

@mixin marge10{
    margin: 10px 10px 10px 10px;
}
@mixin padding15{
    padding: 15px 15px 15px 15px;
}

@mixin displaycenter{
    display: flex;
    justify-content: center;
}
@mixin displayleft{
    display:flex;
    justify-content: left;
}
@mixin textegras{
    font-size: 1.5em;
    font-weight: bold;
}
@mixin textenormal{
    font-size: 1em;
    font-weight: normal;
}
@mixin imagepageprincipal{
    background-color: white;
    flex-direction: column;
    padding: 2px;
    margin: 5px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 4px 4px 4px #F2F2F2;
    width: 90%;
}
@mixin dimensionimage{
    height: 200px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}