$couleur-1: #9356DC;
$couleur-2: #FF79DA;
$couleur-3: #99E2D0;
$white: white;
$grisfoncer:rgba(112, 111, 111, 0.74);
$grisclair: lighten($grisfoncer, 40%);
$grisclair2: lighten($grisfoncer, 50%);
$black: black;