header
{
    @include displaycenter;
    border-bottom: 2px solid $grisfoncer;
    img
    {
        width: 50%;
        @include marge10;
    }
    i
    {
        font-size: 1.1em;
        position: absolute;
        left: 4%;
        top: 2%;
        color: black;
    }
}
.pagesecondaire {

header
{
    border-bottom: 0px;
}

.image
{
    height: 290px;
    width: 100%;
    object-fit: cover;
}
}