header
{
    @include displaycenter;
    border-bottom: 2px solid $grisfoncer;
    img
    {
        width: 50%;
        @include marge10;
    }
    i
    {
        font-size: 1.1em;
        position: absolute;
        left: 4%;
        top: 2%;
        color: black;
    }
}
.pagesecondaire {

header
{
    border-bottom: 0px;
}

        figure{
            position: relative;
            display: inline-block;
            margin: 0 0 0 0;
            img{
                height: 290px;
                width: 100%;
                object-fit: cover;
            }
            figcaption{
                position: absolute;
                width: 92%;
                top: 78%;
                border-radius: 15px 15px 0px 0px;
                padding: 16px 16px 15px 16px;
                font-size: 2em;
                font-weight: 1000;
                font-style: italic;
                background-color: $couleurfondpagesecondaire;
                i
                {
                    position: absolute;
                    right: 8%;
                    @include coeurdepart;
                    &:hover{
                        @include coeurrempli;
                        }
                }
            }
        }
}