nav ol
{
    @include padding15;
    h1
    {
        @include displayleft;
        @include textegras;
    }
    li
    {
        @include displayleft;
        @include marge10;
        background-color: $grisclair2;
        
        span
        {
            margin-left: 15%;
        }
        i
        {
            font-size: 1em;
            margin-left: 5%;
        }
    }
}
