.pageprincipale {
.section1
{
    display: flex;
    flex-direction: column;

    &__geoloc
    {
        @include displaycenter;
        padding: 10px 0 10px 0;
        background-color:$grisclair;
    }
    &__decrestaurant
    {
        @extend .section1__geoloc;
        flex-direction: column;
        @include padding15;
        background-color: $grisclair2;
        
        h1
        {
            @extend .section1__geoloc;
            @include textegras;
            @include marge5;
            text-align: center;
            background-color: $grisclair2;
        }
        h2
        {
            @extend .section1__geoloc;
            @include marge5;
            @include textenormal;
            text-align: center;
            background-color: $grisclair2;
        }
        a
        {
            margin: auto;
        }
    }

}
.section2
{
    @extend .section1; 
    background-color: $grisclair2;
    padding-bottom: 45px;
        h1
        {
            @include padding15;
        }
    article
    {
        
        @include imagepageprincipal;
        flex-direction: column;
       
        img
        {
            @include dimensionimage;
        }
        a
        {
            text-decoration: none;
        }
        strong
        {
            font-weight: bold;
            font-size: 1.2em;
        }
        p
        {
            padding: 0 0 0 15px;
            @include textenormal;
            color: black;
        } 
            i
            {
                position: relative;
                float: right;
                bottom: 45px;
                right: 10px;
                @include coeurdepart;
            &:hover
            {               
                @include coeurrempli;
            }
            }
        
    }
}
}
.pagesecondaire
{
    section{
        @include displaycenter;
        flex-direction: column;
        background-color: $grisclair2;

        .titrerestaurant{
            position: absolute;
            width: 93%;
            top: 249px;
            border-radius: 15px 15px 0px 0px;
            padding: 16px 16px 15px 16px;
            font-size: 2em;
            font-weight: bold;
            font-style: italic;
            background-color: $grisclair2;
            i
            {
                position: absolute;
                right: 8%;
                @include coeurdepart;
                &:hover{
                    @include coeurrempli;
                }
            }
        }
        .titremenu
        {
            display: flex;
            margin-top: 15px;
            top: 25%;

        }
        article{
            display: flex;
            flex-direction: row;
            border: 2px solid black;
            margin: 10px 10px 10px 10px;
            border-radius: 15px 15px 15px 15px;
            p
            {
                width: 90%;
                font-size: 1.1em;
                padding: 0 5px 0 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .prix
            {
                justify-self: end;
                width: 10%;
            }
            .iconevalidation
            {
                width: 0%;
                visibility: hidden;
            }
        }
        a
        {   
            position: relative;
            left: 30%;
            width: 20%;
            margin: 25px 0 35px 0;
        }
}
}